body {
  padding:2%;
  margin:0;
  width: 96%;
}
table {
  margin-top: 10px;
  width:100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  width: 30%;
  height:150px;
}

td, p {
  text-align: center;
  font-size: 170%;
}

.name-info {
  display:inline;
}

.player-info {
  display:inline;
}

#player2 {
  float: right;
}

#winner-field {
  margin-top: 20px;
  height: 60px;
  border: 3px;
  vertical-align: center;
  border-style: solid;
}

#winner-field p {
  font-size: 20px;
}
